<configuration debug="true" scan="true" scanPeriod="30 seconds">
    <property name="SERVICE_NAME" value="user-service"/>

    <property name="LOG_PATH_DOCKER" value="/app/logs/${SERVICE_NAME}"/>
    <property name="LOG_ARCHIVE_DOCKER" value="/app/logs/${SERVICE_NAME}/archive"/>

    <property name="LOG_PATH_LOCAL" value="D:/certificatemanagementlogs/${SERVICE_NAME}"/>
    <property name="LOG_ARCHIVE_LOCAL" value="D:/certificatemanagementlogs/${SERVICE_NAME}/archive"/>

    <appender name="Console-Appender" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="RollingFile-Appender_Docker" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH_DOCKER}/${SERVICE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE_DOCKER}/${SERVICE_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RollingFile-Appender_Local" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH_LOCAL}/${SERVICE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE_LOCAL}/${SERVICE_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="Console-Appender"/>
        <appender-ref ref="RollingFile-Appender"/>
    </root>

</configuration>